<h1 class="text-success py-4 text-center">New Growshop</h1>

<%= render 'form', growshop: @growshop %>
<br>
<br>
<div>
<a class="text-success" href="<%= growshops_path %>">Volver a GROWZONE!</a>





</div>

<footer class="container-fluid bg-dark text-white py-4 text-center">
<div class="text-center text-success"> <h6>@2019. Designed by Nicolas Valenzuela</h6> </div>
</footer>