<div class="text-center py-4">
 <h1 class="text-success"> Asistencia  </h1>

 <p> aadklakdklakldkaslkldkaskdlakslkdlasklkdlaskldkaslkdslkaldkaslkdlaskldakslkdaslkldaskldsakldkaslkdsalkdalskadskasdlk </p>




 

</div>












<div>
<a class="text-success" href="<%= growshops_path %>">Volver a GROWZONE!</a>


</div>

