/*
Da margen a las card
*/
.margincard{
    margin: 10px;
    
}
/*
tamaño imagen carrousel
*/
.carouselitem {
    height: 340px;
}

.itemimg {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 200px;
}
.textoverde {
    color: forestgreen;
}

/*
navbarr acordeon


*/


.accordion.accordion-3 {
 border-radius: 3px; }
.accordion.accordion-3 p {
 font-size: 1rem; }
.accordion.accordion-3 .fa.fa-angle-down {
 margin-top: -10px; }
.accordion .animated-icon1 span {
 background: #F44336;
            }