/*
Da margen a las card
*/
.margincard{
    margin: 10px;
    
    
}

.borders {

    border: 0px;

}
/*
tamaño imagen carrousel
*/
.carousel-item {
    height: 380px;
}

.itemimg {
    width: auto;

    height: 200px;
    
    max-height: 380px;
    
    }
.textoverde {
    color: forestgreen;
}

/*
navbarr acordeon


*/